.Header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   padding: 10px;
   display: block;
}

.HeaderContent {
   max-width: 1280px;
   margin: auto;
   display: grid;
   justify-items: center;
   align-items: center;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 20px;
}

.buttonDarkMode {
   width: 100px;
   height: 40px;
   border-radius: 10px;
}
