.App {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
}

.DivComponents {
   padding-top: 100px;
}

@media screen and (max-width: 639px) {
   .DivComponents {
      padding-top: 170px;
   }
}
